body {
    background-color: #2c3355;
    color:#dbdbdb;
}

article {
  padding: 5pt;
  border-width: 3pt;
  border-spacing: 2em;
  border-style: solid;
  border-radius: 2ch;
  border-color: #0bad8a;
  margin: 3em 1em 3em 1em;
}

article h1 {
  font-weight: bold;
  font-size: x-large;
  margin: 5pt;
}

article h2 {
  font-weight: normal;
  font-size: medium;
  margin: 5pt;
}

img {
    display: block;
    margin: 0 auto;
    width: 50%;
}

.rhythmcontainer{
    overflow: scroll;
    overflow-x: auto;
    overflow-y: hidden;
}

table.rhythm {
    table-layout: fixed;
    margin: 0 auto;
    font-size: larger;
    white-space: nowrap;
}

table.rhythm th{
    display: table-caption;
    font-weight: bold;
} 

table.rhythm td{
    display: table-cell;
    text-align: center;
    min-width: 3ch;
}

.song {
  text-align: center;
  border-collapse: separate;
  border-style: solid;
  border-width: 1pt;
  border-color: black;
  font-size: larger;

}

.song tr:nth-child(odd) {
  margin: 0;
  text-align: center;
  background-color: #39478d;
}

.song tr:nth-child(even) {
  border-bottom: 1pt solid black;
}


td.syncpoint {
    border-left:solid;
    border-right:solid;
}

.firstLine {
  color: darkred;
}
.secondLine {
  color: darkblue;
}
.thirdLine {
  color: darkgreen;
}
.fourthLine {
  color: darkcyan;
}
