
article {
  padding: 5pt;
  border-width: 3pt;
  border-spacing: 2em;
  border-style: solid;
  border-radius: 2ch;
  margin: 3em 1em 3em 1em;
}

article h1 {
  font-weight: bold;
  font-size: 1.75em;
  margin: 5pt;
  width: 75%;
}

article h2 {
    font-weight: normal;
    font-size: 1em;
    margin: 5pt;
}


.label {
    font-weight: normal;
}

.jugglers {
    font-weight: bold;
}

.objects{
    font-weight: bold;
}

img {
    display: block;
    margin: 0 auto;
    width: 50%;
}

.rhythm-layout{
    width: 25%;
    float: right;
}

.rhythm-description{
    clear: both;
}

.rhythm-container{
    overflow: scroll;
    overflow-x: auto;
    overflow-y: hidden;
    clear: both;
}

table.rhythm {
    table-layout: fixed;
    margin: 0 auto;
    font-size: 1.5em;
    white-space: nowrap;
    border-collapse: collapse;
    clear: both;
}

    table.rhythm th {
        display: table-caption;
        text-align: right;
        font-weight: bold;
       
    }

    table.rhythm td {
        display: table-cell;
        text-align: center;
        min-width: 3em;
        padding-left: 0.25em;
        padding-right: 0.25em;
        border-width: 2pt;
        border-style: solid;
    }

.song {
  text-align: center;
  border-collapse: separate;
  border-style: solid;
  border-width: 1pt;
  border-color: black;
  font-size: 1.5em;

}

.song tr:nth-child(odd) {
  margin: 0;
  text-align: center;
  background-color: #39478d;
}

.song tr:nth-child(even) {
  border-bottom: 1pt solid black;
}


.syncpoint {
    border-left:solid;
    border-right:solid;
}

.firstLine {
  color: darkred;
}
.secondLine {
  color: darkblue;
}
.thirdLine {
  color: darkgreen;
}
.fourthLine {
  color: darkcyan;
}
