body {
  margin: 1em;
}

ul.nobullet {
  list-style-type: none;
}

.nobullet li::first-letter{
    font-weight:bold;
}

aside {
    background-color: antiquewhite;
    border:groove;
    border-width: 0.2em;
    border-radius: 1em;
}

code{
    display:block;
    white-space:pre-wrap;
}